<!DOCTYPE html>
<html>
<style>
	h1 { 
        font-family: Arial;
        font-size: 3.2em;
        border-color: teal;
        border-width: 5px;
        border-style: dotted;
        padding:10px;
    }
    body{
     	background-color: blanchedalmond;
     }
</style>

<head>
<title>Todo App</title>
</head>

<body>

<header>
	<h1 align="center">To-Do App</h1>


</header>
	
	<%= yield %>



<footer>
	
</footer>
</body>

</html>

